@model List<_01_BooklandQuery.Contract.Article.ArticleQueryModel>

<div class="tg-widget tg-widgettrending">
    <div class="tg-widgettitle">
        <h3>مقالات اخیر</h3>
    </div>
    <div class="tg-widgetcontent">
        <ul>
            @foreach (var article in Model)
            {
                <li>
                    <article class="tg-post">
                        <figure style=" width: 70px; height: 70px;">
                            <a style=" width: 70px; height: 70px;">
                                <img src="~/Pictures/@article.Picture" alt="@article.PictureAlt" title="@article.PictureTitle" style="width: 70px;height: 70px; margin: -6px;"/>
                            </a>
                        </figure>
                        <div class="tg-postcontent">
                            <div class="tg-posttitle">
                                <h3><a asp-page="/Article" asp-route-id="@article.Slug">@article.Title</a></h3>
                            </div>
                            <span class="tg-bookwriter"><a href="javascript:void(0);">@article.CategoryName</a></span>
                        </div>
                    </article>
                </li>
            }
        </ul>
    </div>
</div>
