@page "{id}"
@model ServiceHost.Pages.AuthorDetailModel
@{
}


<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Theme/assets/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>نویسندگان</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">خانه</a></li>
                        <li><a href="javascript:void(0);">نویسندگان</a></li>
                        <li class="tg-active">نویسنده</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-authordetail">
                        <figure class="tg-authorimg">
                            <img src="~/Pictures/@Model.Author.Picture" alt="@Model.Author.PictureAlt" title="@Model.Author.PictureTitle">
                        </figure>
                        <div class="tg-authorcontentdetail">
                            <div class="tg-sectionhead">
                                <h2><span>@Model.Author.BooksCount کتاب منتشر شده</span>@Model.Author.FullName</h2>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                            <div class="tg-description">
                                @Html.Raw(@Model.Author.Biography)
                            </div>
                            <div class="tg-booksfromauthor">
                                <div class="tg-sectionhead">
                                    <h2>کتاب های @Model.Author.FullName</h2>
                                </div>
                                <div class="row">
                                    @foreach (var book in Model.Author.Books)
                                    {
                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                            <div class="tg-postbook">
                                                <figure class="tg-featureimg">
                                                    <div class="tg-bookimg">
                                                        <div class="tg-frontcover"><img src="~/Pictures/@book.Picture" alt="@book.PictureAlt" title="@book.PictureTitle"></div>
                                                        <div class="tg-backcover"><img src="~/Pictures/@book.Picture" alt="@book.PictureAlt" title="@book.PictureTitle"></div>
                                                    </div>
                                                    <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                        <i class="icon-heart"></i>
                                                        <span>افزودن به علاقه‌مندی‌ ها</span>
                                                    </a>
                                                </figure>
                                                <div class="tg-postbookcontent">
                                                    <ul class="tg-bookscategories">
                                                        @foreach (var category in book.Categories)
                                                        {
                                                            <li><a asp-page="/BookCategory" asp-route-id="@category.Slug">@category.Name</a></li>
                                                        }
                                                    </ul>
                                                    @if (book.IsEditorsChoice)
                                                    {
                                                        <div class="tg-themetagbox"><span class="tg-themetag">پیشنهاد خاص</span></div>
                                                    }
                                                    <div class="tg-booktitle">
                                                        <h3><a asp-page="/BookDetail" asp-route-id="@book.Slug">@book.Name</a></h3>
                                                    </div>
                                                    <span class="tg-stars"><span></span></span>
                                                    <span class="tg-bookprice" style="margin: 5px">
                                                        @if (book.IsInStock)
                                                        {
                                                            @if (book.HasDiscount)
                                                            {
                                                                <ins>@book.PriceWithDiscount تومان</ins>
                                                                <del>@book.Price تومان</del>
                                                            }
                                                            else
                                                            {
                                                                <ins class="blackText">@book.Price تومان</ins>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <ins class="redText">نا موجود</ins>
                                                        }
                                                    </span>
                                                    @if (book.IsInStock)
                                                    {
                                                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                            <i class="fa fa-shopping-basket"></i>
                                                            <em>افزودن به سبد خرید</em>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>