@page "{id}"
@model ServiceHost.Pages.BookCategoryModel
@{
}

<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Theme/assets/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>محصولات</h1>
                    <ol class="tg-breadcrumb">
                        <li><a asp-page="/Index">خانه</a></li>
                        <li>کتاب ها</li>
                        <li class="tg-active">@Model.BookCategory.Name</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-twocolumns" class="tg-twocolumns">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-products">
                                <div class="tg-sectionhead">
                                    <h2><span>به انتخاب مردم</span>پرفروش‌ترین‌ها</h2>
                                </div>
                                <div class="tg-featurebook alert" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                    @await Component.InvokeAsync("Banner", false)

                                </div>
                                <div class="tg-productgrid">
                                    <div class="tg-refinesearch">
                                        <span>مشاهده 1 از 8 از کل 20</span>
                                        <form class="tg-formtheme tg-formsortshoitems">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label>چینش:</label>
                                                    <span class="tg-select">
                                                        <select>
                                                            <option>نام</option>
                                                            <option>نام</option>
                                                            <option>نام</option>
                                                        </select>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label>نمایش:</label>
                                                    <span class="tg-select">
                                                        <select>
                                                            <option>8</option>
                                                            <option>16</option>
                                                            <option>20</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    @foreach (var book in Model.BookCategory.Books)
                                    {
                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                            <div class="tg-postbook">
                                                <figure class="tg-featureimg">
                                                    <div class="tg-bookimg">
                                                        <div class="tg-frontcover"><img src="~/Pictures/@book.Picture" alt="image description"></div>
                                                        <div class="tg-backcover"><img src="~/Pictures/@book.Picture" alt="image description"></div>
                                                    </div>
                                                    <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                        <i class="icon-heart"></i>
                                                        <span>افزودن به علاقه‌مندی‌ها</span>
                                                    </a>
                                                </figure>
                                                <div class="tg-postbookcontent">
                                                    <ul class="tg-bookscategories">
                                                        @foreach (var category in book.Categories)
                                                        {
                                                            <li><a asp-page="/BookCategory" asp-route-id="@category.Slug">@category.Name</a></li>
                                                        }
                                                    </ul>
                                                    <div class="tg-themetagbox"><span class="tg-themetag">فروش</span></div>
                                                    <div class="tg-booktitle">
                                                        <h3><a asp-page="/BookDetail" asp-route-id="@book.Slug">@book.Name</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">توسط: <a asp-page="/AuthorDetail" asp-route-id="@book.AuthorSlug">@book.AuthorName</a></span>
                                                    <span class="tg-stars"><span></span></span>
                                                    <span class="tg-bookprice" style="margin: 5px">
                                                        @if (book.IsInStock)
                                                        {
                                                            @if (book.HasDiscount)
                                                            {
                                                                <ins>@book.PriceWithDiscount تومان</ins>
                                                                <del>@book.Price تومان</del>
                                                            }
                                                            else
                                                            {
                                                                <ins class="blackText">@book.Price تومان</ins>

                                                            }
                                                        }
                                                        else
                                                        {
                                                            <ins class="redText">نا موجود</ins>
                                                        }

                                                    </span>
                                                    @if (book.IsInStock)
                                                    {
                                                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                            <i class="fa fa-shopping-basket"></i>
                                                            <em>افزودن به سبد خرید</em>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                        <aside id="tg-sidebar" class="tg-sidebar">
                            <div class="tg-widget tg-widgetsearch">
                                <form class="tg-formtheme tg-formsearch">
                                    <div class="form-group">
                                        <button type="submit"><i class="icon-magnifier"></i></button>
                                        <input type="search" name="search" class="form-group" placeholder="جستجو با نام، نویسنده و ... ">
                                    </div>
                                </form>
                            </div>
                            <div class="tg-widget tg-catagories">
                                <div class="tg-widgettitle">
                                    <h3>دسته ‌بندی ‌ها</h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        @foreach (var category in Model.BookCategories)
                                        {
                                            <li><a asp-page="/BookCategory" asp-route-id="@category.Slug"><span>@category.CategoryName</span><em>@category.BooksCount</em></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>

                            @await Component.InvokeAsync("LatestArticles", "SideBar")

                            @await Component.InvokeAsync("BestAuthors", "SideBar")
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

