@page
@using _01_Framework.Application
@model ServiceHost.Pages.CartModel
@{
}

<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Theme/assets/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>سبد خرید شما</h1>
                    <ol class="tg-breadcrumb">
                        <li><a asp-page="/Index">خانه</a></li>
                        <li><a>سبد خرید</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 cart">
            <div class="wrapper-page">
                <div class="content-page">
                    @foreach (var item in Model.CartItems.Where(x => !x.IsInStock))
                    {
                        <div class="alert alert-warning"><i class="fa fa-warning"></i>
                            کالای <strong>@item.Name</strong> کمتر از تعداد درخواست در انبار موجود است
                        </div>
                    }
                    <div class="table-responsive">
                        <table class="cart-table table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="thumb-img">عکس</th>
                                    <th class="card-title">نام محصول</th>
                                    <th>قیمت واحد</th>
                                    <th>تعداد</th>
                                    <th>قیمت کل</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/Pictures/@item.Picture" alt="@item.Name" />
                                        </td>
                                        <td class="card-title">
                                            <a asp-page="/BookDetail" asp-route-id="@item.Slug" class="greyText">
                                                @item.Name
                                            </a>
                                        </td>
                                        <td>
                                            <span class="greyText">@item.UnitPrice.ToMoney()</span>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="number" value="@item.Count" min="1" onchange="changeCartItemCount('@item.Id', 'totalItemPrice-@item.Id', this.value)"/>
                                            </div>
                                        </td>
                                        <td>
                                            <span id="totalItemPrice-@item.Id" class="greyText">@item.TotalItemPrice.ToMoney()</span>
                                        </td>
                                        <td>
                                            <a asp-page-handler="RemoveFromCart" asp-route-id="@item.Id">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <a asp-page-handler="GoToCheckout" class="btn btn-success checkout-btn">
                        تکمیل فرآیند خرید
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>