@model List<_01_BooklandQuery.Contract.Book.BookQueryModel>

<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-newrelease">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="tg-sectionhead">
                        <h2><span>جدیدترین ها را تجربه کنید</span>کتاب های تازه منتشر شده </h2>
                    </div>
                    <div class="tg-description">
                        <p>
                            فروشگاه بوکلند همیشه سعی داشته تا به روز باشه و بهترین کتاب هارو برای 
                            کرابرانش تهیه کنه و در سایت قرار بده. کتاب های 30 روز گذشته که وارد فروشگاه شده اند رو حتما بررسی کنید!
                        </p>
                    </div>
                    <div class="tg-btns">
                        <a class="tg-btn tg-active" href="javascript:void(0);">مشاهده همه</a>
                        @*<a class="tg-btn" href="javascript:void(0);">بیشتر بخوانید</a>*@
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="tg-newreleasebooks">
                            @foreach (var book in Model)
                            {
                                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                                    <div class="tg-postbook">
                                        <figure class="tg-featureimg">
                                            <div class="tg-bookimg">
                                                <div class="tg-frontcover"><img src="~/Pictures/@book.Picture" alt="@book.PictureAlt" title="@book.PictureTitle"></div>
                                                <div class="tg-backcover"><img src="~/Pictures/@book.Picture" alt="@book.PictureAlt"></div>
                                            </div>
                                            <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                <i class="icon-heart"></i>
                                                <span>افزودن به علاقه‌مندی‌ها</span>
                                            </a>
                                        </figure>
                                        <div class="tg-postbookcontent">
                                            <ul class="tg-bookscategories">
                                                @foreach (var category in book.Categories)
                                                {
                                                    <li><a asp-page="./BookCategory" asp-route-id="@category.Slug">@category.Name</a></li>
                                                }
                                            </ul>
                                            @if (book.IsEditorsChoice)
                                            {
                                                <div class="tg-themetagbox"><span class="tg-themetag">پیشنهاد خاص</span></div>
                                            }
                                            <div class="tg-booktitle">
                                                <h3><a asp-page="./BookDetail" asp-route-id="@book.Slug">@book.Name</a></h3>
                                            </div>
                                            <span class="tg-bookwriter">توسط: <a asp-page="./AuthorDetail" asp-route-id="@book.AuthorSlug">@book.AuthorName</a></span>
                                            <span class="tg-stars"><span></span></span>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
