@model List<_01_BooklandQuery.Contract.Book.BookQueryModel>

<div class="tg-relatedproducts">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tg-sectionhead">
            <h2><span>همچنین ببینید</span>کتاب های مرتبط</h2>
            @*<a class="tg-btn" asp-page="./Books" asp-route-id="@Model">مشاهده همه</a>*@
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="tg-relatedproductslider" class="tg-relatedproductslider tg-relatedbooks owl-carousel">
            @foreach (var book in Model)
            {
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="~/Pictures/@book.Picture" alt="@book.PictureAlt" title="@book.PictureTitle"></div>
                                <div class="tg-backcover"><img src="~/Pictures/@book.Picture" alt="@book.PictureAlt" title="@book.PictureTitle"></div>
                            </div>
                            <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                <i class="icon-heart"></i>
                                <span>افزودن به علاقه‌مندی‌ها</span>
                            </a>
                        </figure>
                        <div class="tg-postbookcontent">
                            <ul class="tg-bookscategories">
                                @foreach (var category in book.Categories)
                                {
                                    <li><a asp-page="./BookCategory" asp-route-id="@category.Slug">@category.Name</a></li>
                                }
                            </ul>
                            @if (book.IsEditorsChoice)
                            {
                                <div class="tg-themetagbox"><span class="tg-themetag">پیشنهاد خاص</span></div>
                            }
                            <div class="tg-booktitle">
                                <h3><a asp-page="./BookDetail" asp-route-id="@book.Slug" class="bold">@book.Name</a></h3>
                            </div>
                            <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">@book.AuthorName</a></span>
                            <span class="tg-stars"><span></span></span>
                            <span class="tg-bookprice">
                                @if (book.IsInStock)
                                {
                                    @if (book.HasDiscount)
                                    {
                                        <ins>قیمت: @book.PriceWithDiscount تومان</ins>
                                        <del>قیمت: @book.Price تومان</del>
                                    }
                                    else
                                    {
                                        <ins class="blackText">قیمت: @book.Price تومان</ins>
                                    }
                                }
                                else
                                {
                                    <ins class="redText">نا موجود</ins>
                                }
                            </span>
                            <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);" onclick="addToCart('@book.Id', '@book.Name', '@book.DoublePrice', '@book.Picture', '@book.Slug')">
                                <i class="fa fa-shopping-basket"></i>
                                <em>افزودن به سبد خرید</em>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
